<%- include('partials/header') -%>

    <h1 class="mb-4">Welcome to Notesy, Your note-taking app!</h1>


    <% if (locals.isAuthenticated) { %>
        <p>Start with creating a <a href="/notes/new" class="underline">New Note</a>.</p>
        <p>Go to your <a href="/notes" class="underline">Notebook</a> page to view your Notes and edit/delete them.</p>
        <% } else { %>
            <p>Please login to access your notes. <a href="/login" class="underline">Login</a>.</p>
            <% } %>

                <%- include('partials/footer') -%>