<%- include('partials/header') -%>

    <h1 class="mb-4 text-center">Welcome to Notesy!</h1>

    <div class="container flex flex-column align-items-center">


        <% if (locals.isAuthenticated) { %>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/notes/new" class="underline">
                            <img class="img-fluid logo" id="create" src="/imgs/new.gif" alt="">
                        </a>
                        <!-- <p>Start with creating a <a href="/notes/new" class="underline">New Note</a>.</p> -->

                    </div>
                    <div class="col-md-6">
                        <a href="/notes" class="underline">
                            <img class="img-fluid logo" id="notebook" src="/imgs/notebook.png" alt="">
                        </a>


                    </div>

                </div>
            </div>
            </p>

            <% } else { %>


                <div class="container py-5">
                    <div class="row align-items-center justify-content-center g-4">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <div class="text-center" style="width: 80%;">
                                <img class="img-fluid rounded w-100" id="welcome" src="/imgs/Welcome.gif"
                                    alt="Welcome illustration">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="px-4">
                                <h5 class="card-title mb-4">What is Notesy?</h5>
                                <p class="card-text mb-4">
                                    Effortlessly jot down your thoughts, organize ideas, and keep track of
                                    important notes—all in one place! Our secure and intuitive note-taking app lets you
                                    create, edit, and delete notes with ease.
                                </p>
                                <p class="card-text mb-4">
                                    Sign up to access your personal collection anytime, anywhere.
                                </p>
                                <a href="/login" class="btn btn-lg btn-primary">Start Here!</a>
                            </div>
                        </div>
                    </div>
                </div>




                <% } %>

    </div>

    <%- include('partials/footer') -%>