<%- include('partials/header') -%>

    <h1 class="mb-4 text-center">Welcome to Notesy, Your note-taking app!</h1>




    <div class="container flex flex-column align-items-center">


        <!-- <img class="img-fluid logo" src="/imgs/logo2.png" alt=""> -->


        <% if (locals.isAuthenticated) { %>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="/notes/new" class="underline">
                            <img class="img-fluid logo" src="/imgs/new.gif" alt="">
                        </a>
                        <!-- <p>Start with creating a <a href="/notes/new" class="underline">New Note</a>.</p> -->

                    </div>
                    <div class="col">
                        <a href="/notes" class="underline">
                            <img class="img-fluid logo" src="/imgs/notebook.png" alt="">
                        </a>
                        <!-- <p>Go to your <a href="/notes" class="underline">Notebook</a> page to view your Notes and
                            edit/delete them.</p> -->

                    </div>

                </div>
            </div>
            </p>
            <% } else { %>
                <a href="/login" class="underline">
                    <img class="img-fluid logo" src="/imgs/login.png" alt="">
                </a>
                <!-- <p>Please login to start taking notes. <a href="/login" class="underline">Login</a>.</p> -->
                <% } %>

    </div>

    <%- include('partials/footer') -%>