body {
    background-color: #ffffff;
}

.navbar {
    background-color: #98C1D9;
}

img {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth hover effect */

}

/* Hover effect for images */
img:hover {
    transform: scale(1.01);
    /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow on hover */
}

.btn {
    background-color: #98C1D9;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #3D5A80;
    color: #E0FBFC;
    border: none;
}


.btn-secondary {
    background-color: #bcbfc3;
    color: black
}

.btn-secondary:hover {
    background-color: #737576;
    color: white;
}

article a {
    color: #3D5A80;
}

#welcome {
    border: none !important;
    box-shadow: none !important;
}

#delete {
    background-color: #EE6C4D;
}