<%- include('../partials/header') -%>



    <div class="container mt-5">
        <h1 class="mb-4">Add Your Note</h1>

        <form action="/notes" method="POST">



            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title" name="note[title]">
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Enter tags separated by ,"
                    name="note[tags]">
            </div>

            <div class=" mb-3">
                <label for="content" class="form-label">Your Note</label>
                <textarea class="form-control" id="content" rows="4" placeholder="Write your note here..."
                    name="note[content]"></textarea>
            </div>
            <button type=" submit" class="btn btn-primary">Add Note</button>

        </form>



    </div>


    <%- include('../partials/footer') -%>